# This is a basic workflow to help you get started with Actions

name: Selenium Test Workflow

# Controls when the workflow will run
on:
  workflow_dispatch:
    inputs:
      mavenProfile:
        description: 'web or android or IOS'
        required: true
        default: 'web'
      remoteURL: 
        description: 'Selenoid URL if hosted outside'
        required: true
        default: 'http://34.147.118.153:4444/wd/hub'
        
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    name: first-web-test
    runs-on: ubuntu-latest

  
    steps:
      - name: Start Selenoid Server
        uses: Xotabu4/selenoid-github-action@v2
        id: start-selenoid
        continue-on-error: false
        with:
            version: 1.10.1
            args: -limit 10
            browsers: chrome
            last-versions: 1

      - name: checkout
        uses: actions/checkout@v1

      - name: Run the Tests
        run:
            mvn clean test -P${{ github.event.inputs.mavenProfile }} -DremoteURL=${{ github.event.inputs.remoteURL }}


      # Runs a single command using the runners shell



      # Runs a set of commands using the runners shell


